/*animações*/

@keyframes up {
  from {
    opacity: 0;
    transform: translateY(16px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-up {
  animation-name: up;
  animation-duration: 0.8s;
  animation-fill-mode: backwards;
}

@keyframes down {
  from {
    opacity: 0;
    transform: translateY(-1000px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-down {
  animation-name: down;
  animation-duration: 1s;
  animation-fill-mode: backwards;
}

@keyframes right {
  from {
    opacity: 0;
    transform: translateX(-1000px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-right {
  animation-name: right;
  animation-duration: 1s;
  animation-fill-mode: backwards;
}
