
.box-container .box{
    /* box-shadow: 0px 0px 15px;
    width: 200px;
    height: 300px;
    border-radius: 10px;
    background-color: white;
   */

    transition: .3s all ease-in-ou;
    
    position: relative;
    margin: 20px;
    width: 277px;
    height: 143px;
    top: 10px;

    background: #DCDCDC;
    border-radius: 32px;
}

.box-container .box:hover{
    background-color: yellow;
}

.box-container .box .boxContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}
.box-container .box .boxContent .box-title {
    display: block;
    font-size: 2em;
    font-weight: bold;
}

.box-container .box .boxContent .desc {
    font-size: clamp(1rem, 4.7vw, 1.8rem);
}

.box-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}