#page-landing {
    background: url(../images/Fundo-Sobre.jpg) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
  
    text-align: center;
    min-height: 100vh;
  
    display: flex;
  }