aside {
  width: 100%;
  height: 8rem;

  background: linear-gradient(135.06deg, #4a4a4a 25.5%, #8e8e8e 100%);
  

  text-align: center;
  

  padding: 2rem;

  position: fixed;
  top: 0;
}

.background-sidebar {
  position: fixed;
  width: 100%;
  /*width: 104px;*/
  height: 8.5rem;
  left: 0px;
  top: 0px;

  background: linear-gradient(135.06deg, #f2f600 0%, rgba(242, 246, 0, 0) 100%);
}

.menu{
  max-width: 1200px;
  border: 1px solid f2f600;
  margin: 0 auto;

}

.logo{
  width: 50%;
  height: 50%;

  background-color: white;
  border-radius: 10px;

  text-align: center;

 
}
.logo a {
  color: #fff;
  text-decoration: none;
}

.hamburguer{
  width: 30px;
  height: 30px;

  color: white;
  background-color: transparent;

  border-radius: 5px;
  border: 0;

  position: relative;
  cursor: pointer;

  display: none;

}

.hamburguer:after{
  content: "";

  position: absolute;
  top: 35%;
  left: 15%;

  width: 70%;
  height: 5%;


  background-color: white;

}

.menu-element {
  list-style-type: none;
}

.mini-logo {
 opacity: 0;
}


@media (min-width: 1024px) {
  aside {
    position: fixed;
    width: clamp(8rem, 12vw, 10rem);
    height: 100%;
    padding: 2rem;
    left: 0px;
    top: 0px;

    background: linear-gradient(179.06deg, #4a4a4a 25.5%, #8e8e8e 100%);
    border-radius: 0px;

    display: flex;
    flex-direction: column;
  }


  .background-sidebar {
    position: fixed;
    width: clamp(8.5rem, 12.5vw, 10.5rem);
    /*width: 104px;*/
    height: 100%;
    left: 0px;
    top: 0px;
  
    background: linear-gradient(179.06deg, #f2f600 0%, rgba(242, 246, 0, 0) 100%);
  }

  .animate-right {
    animation-name: down;
  }

  .logo{
    width: 50%;
    height: 50%;
  
    background-color: white;
    border-radius: 10px;
  
    text-align: center;
    
    display: none;
   
  }

  .mini-logo {
    position: relative;
    width: 280%;
    margin-top: -5rem;
    margin-left: -5.5rem;
    opacity: 1;
  }
  /*menu*/

  .portifolio {
    background: url(../images/icones/Vector.png) no-repeat center;
    width: 100%;
    padding: 2rem;
    padding-bottom: 8rem;
    padding-top: 6rem;
  }
  /*.portifolio:hover{
  color: #f2f600;
}*/

  .contato {
    background: url(../images/icones/phonefone.png) no-repeat center;
    width: 100%;
    padding: 2rem;
    padding-bottom: 8rem;
  }
  /*.contato:hover{
  color: #f2f600;
}*/

  .localizacao {
    background: url(../images/icones/place.png) no-repeat center;
    width: 100%;
    padding: 2rem;
    padding-bottom: 8rem;
    list-style-type: none;
  }
  /*.localizacao:hover{
  color: #f2f600;
}*/
  .sobre {
    background: url(../images/icones/help_outline.png) no-repeat center;
    width: 100%;
    padding: 2rem;
    padding-bottom: 8rem;
    list-style-type: none;
  }
  /*.sobre:hover{
  color: #f2f600;
}*/

  .menu-element {
    list-style-type: none;
  }

/*
  .with-sidebar {
    padding-left: 96px;
  }
}*/