aside {
  width: 100%;
  height: 8rem;

  background: linear-gradient(135.06deg, #4a4a4a 25.5%, #8e8e8e 100%);
  

  text-align: center;
  
  display: flex;
  
  padding: 2rem;
  position: fixed;
  top: 0;
  z-index: 999;
}

.navbar{
  max-width: 100%;
  margin: 0 auto;
}

.logo{
  display: block;

  width: clamp(18rem,6vw,18rem);
  margin: auto;
  margin-top: -7.5rem;
  padding: 2rem;
  z-index: 999;

}
.hamburguer{
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: rgba(129, 129, 129, 0.5);
  color: white;
  border-radius: 10px;
  padding-top: 1.2rem;

  z-index: 999;

  transition: .5s ease;
}
.hamburguer:hover{
  background-color: rgba(129, 129, 129, 1) ;
}
/*
.menu{
  position: fixed;
  top: 0;
  left: 0;

  height: 100vh;
  margin: 0;
  background-color: #222;

  width: 100%;
  max-width: 250px;

  padding: 100px 20px;

  flex-direction: column;
}*/

.background-sidebar {
  position: fixed;
  width: 100%;
  /*width: 104px;*/
  height: 8.5rem;
  left: 0px;
  top: 0px;

  background: linear-gradient(135.06deg, #f2f600 0%, rgba(242, 246, 0, 0) 100%);
}
/*----------------*/


.menu-element {
  list-style-type: none;
}

.mini-logo {
 opacity: 0;
}


@media (min-width: 1024px) {
  aside {
    position: fixed;
    width: clamp(8rem, 12vw, 10rem);
    height: 100%;
    padding: 2rem;
    left: 0px;
    top: 0px;

    background: linear-gradient(179.06deg, #4a4a4a 25.5%, #8e8e8e 100%);
    border-radius: 0px;

    display: flex;
    flex-direction: column;
  }


  .background-sidebar {
    position: fixed;
    width: clamp(8.5rem, 12.5vw, 10.5rem);
    /*width: 104px;*/
    height: 100%;
    left: 0px;
    top: 0px;
  
    background: linear-gradient(179.06deg, #f2f600 0%, rgba(242, 246, 0, 0) 100%);
  }

  .animate-right {
    animation-name: down;
  }

  .logo{
    display: none;
  }

  .hamburguer{
    display: none;
  }

  .mini-logo {
    position: relative;
    width: 280%;
    margin-top: -5rem;
    margin-left: -5.5rem;
    opacity: 1;
  }
  /*menu*/

  .portifolio {
    background: url(../images/icones/Vector.png) no-repeat center;
    width: 100%;
    padding: 2rem;
    padding-bottom: 8rem;
    padding-top: 6rem;
  }

  .contato {
    background: url(../images/icones/phonefone.png) no-repeat center;
    width: 100%;
    padding: 2rem;
    padding-bottom: 8rem;
    padding-top: 6rem;
  }

  .localizacao {
    background: url(../images/icones/place.png) no-repeat center;
    width: 100%;
    padding: 2rem;
    padding-bottom: 8rem;
    list-style-type: none;
    padding-top: 6rem;
  }

  .sobre {
    background: url(../images/icones/help_outline.png) no-repeat center;
    width: 100%;
    padding: 2rem;
    padding-bottom: 8rem;
    list-style-type: none;
    padding-top: 6rem;
  }

  .menu-element {
    list-style-type: none;

  }

/*
  .with-sidebar {
    padding-left: 96px;
  }*/

  /*POP-UPS*/
  [data-tooltip] {
    position: relative;
    font-size: 26px;
    font-weight: bold;
  }
  
  [data-tooltip]:after {
    display: none;
    position: absolute;
    top: 55px;
    padding: 5px;
    border-radius: 4px;
    left: calc(100% + 60px);
    content: attr(data-tooltip);
    white-space: nowrap;
    background-color: #4a4a4a;
    color: White;

  }
  
  [data-tooltip]:hover:after {
    display: block;
    animation-name: show;
    animation-duration: 1s;
    animation-fill-mode: backwards;

  }
}