*{
    align-items: center;
    align-self: center;


}
#main{
    padding: 100px;
    background: url(./images/Web-Development.jpg);
    align-self: center;
    height: 820px;
    width: 1440px;
    left: -258px;
    top: -375px;
    border-radius: 0px;
    display:table;
}
#main #logo{
    color: white;
}
#main #card{
    position: absolute;
    width: 1130.19px;
    height: 662.94px;
    left: 206px;
    top: 77px;
    background-color: white;
    text-align: center;
    vertical-align:middle;
    display:table-cell;
}
#main #card .trabalhos{
    width: 100px;
    height: 100px;
    left: 100px;
    right: 100px;
    margin: 10px 10px 10px 10px;
    background-color: gray;
    margin: auto;
}